################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CEQ.Paylocity.HRM.API/FileContentIndex/8576169f-2563-4fd9-aafb-a91e02c7880c.vsidx
/.vs
